#include "resource.h"

IDI_MYICON ICON "appicon.ico"

IDR_MYMENU MENU
BEGIN
    POPUP "Menu"
    BEGIN
        MENUITEM "Save",                        ID_SAVE_BUTTON
        MENUITEM "About",                       ID_FILE_ABOUT
        MENUITEM "Exit",                        ID_FILE_EXIT
    END
END
