#include "resource.h"

IDI_MYICON ICON "appicon.ico"

IDR_MYMENU MENU
BEGIN
    POPUP "Menu"
    BEGIN
        MENUITEM "File"                         ID_FILE
        MENUITEM "&Save",                       ID_SAVE_BUTTON
        MENUITEM "Font",                        ID_FONT
        MENUITEM "About",                       ID_FILE_ABOUT
        MENUITEM "Exit",                        ID_FILE_EXIT
    END
END
